/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*general section*/
.container{
	max-width: 1350px;
	padding: 0 32px;
	margin: 0 20px;
}
.flex{
	display: flex;
	flex-direction: row;
}
body{
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
}
.home-container{
	max-width: 1400px;
	width: 100%;
	padding: 32px;
	margin: 0 auto;
}
/*home page*/
.header-nav a{
	text-align: center;
	border: 3px solid white;
	border-radius: 50%;
	padding: 5px;
	margin: 20px;
	font-size: 30px;
	color: rgb(134, 125, 125);
	background-color: white;
}
.links a{
	color: rgb(134, 125, 125);
    margin: 10px;
	font-size: 20px;
}
.links .active{
	color: orangered;
	border-top: 2px soilid orangered;
}
.brand a .name{
	color: rgb(234,82,62);
	font-size: 30px;
	font-weight: 700;
}
.top-1{
	display: flex;
    justify-content: space-between;
	align-items: center;
	background-color: white;
	margin-bottom: 100px;
}
.hero-heading{
	color: white;
	font-weight: 900px;
}
.hero-section{
	text-align: center;
	background-image: url("../media/banner.jpg");
	padding: 30px;
}
h1{
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline;
	margin-top: 40px;
	color: rgb(136,136,136);
}
h2{
	color: rgb(136,136,136);
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
}
button{
	font-size: 20px;
	padding: 20px;
	margin: 10px auto;
}
.box-1{
	background-color: rgb(92,189,157);
	width: 300px;
	height: 400px;
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box-2{
	background-color: rgb(230,127,49);
	width: 300px;
	height: 400px;
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box-3{
	background-color: rgb(57,152,219);
	width: 300px;
	height: 400px;
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box-4{
	background-color: rgb(104,205,115);
	width: 300px;
	height: 400px;
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.services{
	margin-top: 40px;
	margin-bottom: 20px;
}
.box{
	display: flex;
	flex-wrap: wrap;
	margin: 40px auto;
}
.services a{
	color: white;
	font-size: 50px;
}
/*portfolio-section*/
.portfolio{
	margin: 60px 0;
}
.col-1-4{
	flex: 0 1 20%;
	margin: 10px;
}
.portfolio img{
	width: 100%;
}
.email{
	color: rgb(236,107,90);
}
/*team-sextion*/
.team img{
	width: 100%;
	border-radius: 50%;
}
h3{
	font-size: 25px;
	text-align: center;
	text-transform: uppercase;
	color: rgb(136,136,136);
	margin-top: 40px;
}
h4{
	font-size: 20px;
	text-align: center;
	color: rgb(136,136,136);
	margin-bottom: 48px;
}

.box-p{
	width: 500px;
	height: 50px;
	margin: 20px;
	background-color: rgb(231,231,231);
}
.box-e{
	width: 90%;
	height: 100%;
	background-color: rgb(234,81,62);
}
.box-f{
	width: 80%;
	height: 100%;
	background-color: rgb(234,81,62);
}
.box-g{
	width: 70%;
	height: 100%;
	background-color: rgb(234,81,62);
}
.box-h{
	width: 80%;
	height: 100%;
	background-color: rgb(234,81,62);
}
.content{
	flex-wrap: wrap;
	flex: 0 1 60%;
	justify-content: flex-end;
}
.box-content{
	font-size: 20px;
	text-transform: uppercase;
	color: white;
	margin: 10px;
}
.team .flex{
	display: flex;
	justify-content: space-between;
}
/*contact-section*/
.map{
	width: 100%;
}
.contact-content{
	font-size: 25px;
	color: rgb(136,136,136);
	padding: 20px;
	margin: 20px;
	width: 60%;
}
.box-q{
	width: 500px;
	height: 50px;
	border: 2px solid rgb(136,136,136);
	margin: 20px;
}
.box-r{
	width: 500px;
	height: 150px;
	border: 2px solid rgb(136,136,136);
	margin: 20px;
}
.box-t{
	width: 500px;
	height: 50px;
	margin: 20px;
	background-color: rgb(234,81,62);
}
.text{
	font-size: 20px;
	margin: 10px;
    color: rgb(136,136,136);
}
.text-1{
	font-size: 20px;
	margin: 10px;
    color: white;
	text-align: center;
}
.contact .flex{
	display: flex;
	justify-content: space-between;
}
/*footer section*/
.footer{
	font-size: 20px;
	margin: 40px auto;
	color: rgb(136,136,136);
}
.footer .flex{
	display: flex;
	justify-content: space-between;
}
.btn{
	background-color: rgb(234,81,62);
	color: white;
	padding: 5px;
	border-radius: 5px;
	border: 2px solid white;
}
/*gallery page*/
.sidebar{
	background-color: rgb(234,81,62);
	display: flex;
	flex-direction: column;
	padding: 32px;
	flex: 0 1 20%;
	justify-content: space-between;
	position: fixed;
	height: 94%;
	width: 20%;
}
button{
	background-color: rgb(234,81,62);
	color: white;
	padding: 5px;
	border-radius: 5px;
	border: 2px solid white;
}
.top{
	display: flex;
    justify-content: space-between;
	align-items: center;
}
.brand a img{
	padding: 10px;
	vertical-align: middle;
}
a{
	text-decoration: none;
}
.brand a span{
	text-align: center;
	vertical-align: middle;
	color: white;
	font-size: 30px;
	text-decoration: none;
}
.sidebar-heading{
	font-size: 30px;
	color: whitesmoke;
	margin-top: 40px;
	padding: 0 24px;
}
.sidebar-text{
	font-size: 20px;
	padding: 24px;
}
.sidebar-nav a{
	border: 3px solid white;
	border-radius: 50%;
	padding: 5px;
	color: white;
	margin: 0 10px;
}
/*gallery section*/
.gallery{
	margin-left: 30%;
}
.heading{
	font-size: 60px;
	font-weight: 700px;
	padding: 32px;
	color: black;
	text-align: center;
}
.gallery-image{
	width: 80%;
	border: 2px solid black;
   margin: 20px;
}
.col-1-2{
	flex: 0 1 50%;
}
.wrap{
	display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
}
